//  pag de contactos
main{
    .container {
        h2 {
            color: $color-naranja;
        }
    }

    .imagenes {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .cartas {
        background-color: $color-negro;
        color: $color-blanco;
        height: 100%;

        h3 {
            color: $color-naranja;
            font-family: $text-titulos;
            margin-top: 10px;
        }

        a {
            background-color: $color-negro;
            color: $color-naranja;
            border: 2px solid $color-naranja;
                &:hover {
                    background-color: $color-naranja;
                    color: $color-negro;
                    border-color: $color-negro;
                }
        }
    }
}